<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "sendcloud": {
                        "component": "SendCloud_SendCloud/js/servicePoint/view/checkout/shipping/servicePoint",
                        "scriptUrl": "<?= /* @escapeNotVerified */ $block->getScriptUrl()?>"
                    }
                }
            }
        }
    }
</script>

<?php

if (class_exists('\Magento\Framework\View\Helper\SecureHtmlRenderer')) {
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
    $storeLocale = /* @noEscape */ $block->getLocale();
    $translations = /* @noEscape */ json_encode($block->getTranslations());

    $storeLocale = /* @noEscape */ $block->getLocale();
    $translations = /* @noEscape */ json_encode($block->getTranslations());

    $scriptString = <<<script
        window.storeLocale = "{$storeLocale}";
        window.translations = {$translations};
script;
    ?>
    <?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false);

} else { ?>
<script>
    var storeLocale = "<?= /* @escapeNotVerified */ $block->getLocale()?>";
    var translations = <?= /* @escapeNotVerified */ json_encode($block->getTranslations())?>;
</script>

<?php }  ?>

